.upper {
	flex: 1;
	display: flex;
	gap: 30px;
}
.upper > div {
	flex: 1;
	border: 2px solid #efefef;
}
.down {
	flex: 1;
	display: flex;
	gap: 30px;
}
.down > div {
	flex: 1;
	border: 2px solid #efefef;
}
.blueBox {
	width: 50px;
	height: 50px;
	background-color: #accdff;
	position: relative;
	top: 10px;
	left: 10px;
}
.redBox {
	width: 50px;
	height: 50px;
	background-color: #ffd7d7;
}
