button{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 170, 184);
    border: none;
    transition: all 1s;
}
button:hover{
    transform: rotate(45deg) scale(1.5) translatex(300px);
    background-color: skyblue;
}